/*
/*/

!/.gitignore
!/CHANGELOG.md
!/README.md
!.env
!/build_all_images.sh
!/renovate.json


## Keep this folder:
!/dockerfiles
## But ignore all content:
/dockerfiles/*
## Except these:
!/dockerfiles/*.dockerfile


## Ignore all log-related files:
**/*[Ll]og*
**/*.log