/*
/*/

!/.gitignore
!/CHANGELOG.md
!/README.md
!.env
!/build_all_images.sh
!/renovate.json


## Keep this folder:
!/dockerfiles
## But ignore all content:
/dockerfiles/*
## Except these:
!/dockerfiles/*.dockerfile


## Keep this folder:
!/custom_dockerfiles
## But ignore all content:
/custom_dockerfiles/*
## Except these:
!/custom_dockerfiles/*.dockerfile
!/custom_dockerfiles/*.sh


## Ignore all log-related files:
## !! KEEP THIS AT THE END !!
**/*[Ll]og*
**/*.log